/* Isabelle Anno
   6/11/2024

Table of Contents:
1.) Universal styles across all pages
2.) Nav bar styles

*/

/*----------------------------------1.) Univeral Styles Across All Pages-----------------------------------------*/
* {
  box-sizing: border-box;
}
:root {
  --dark-primary: #1a5b66;
  --light-primary: #73a29f;
  --light-background: #f6ecdf;
  --extra-light-bg: #fff9f2;
  --brown-background: #9f6449;
  --tan-txt: #c57c5a;

  --color-green: #27ae60;
  --color-red: #ef1f22;
  --color-pink: #f50057;
  --transition-dur: 0.3s;
}

body {
  margin: 0;
  padding: 0;
  font-size: 100%;
}

div.row {
  padding: 0;
  margin: 0;
}
.mx-6 {
  margin-left: 6rem !important;
  margin-right: 6rem !important;
}
.my-6 {
  margin-top: 5rem !important;
  margin-bottom: 5rem !important;
}
.mt-6 {
  margin-top: 5rem !important;
}
p {
  font-family: "Raleway", sans-serif;
}
h1 {
  font-family: "Yeseva One", serif;
}
.txt-lg {
  font-size: 3em !important;
}
.light {
  font-weight: 300;
}
.medium {
  font-weight: 500;
}
.dark-blue {
  color: var(--dark-primary);
}
.teal {
  color: var(--light-primary);
}
.tan {
  color: var(--tan-txt);
}
.brown {
  color: var(--brown-background);
}

.w-100 {
  width: 100%;
}

.raleway {
  font-family: "Raleway", sans-serif;
}
.light-txt {
  color: var(--light-background);
}
div.col-flex,
div.col-flex-brown {
  width: calc(48% - 4vw);
}

/*----------------------------------2.) Navbar and Button Styles-------------------------------------------------*/
/*Buttons*/
a,
a.nav-item,
label.form-label,
input {
  font-family: "Raleway", sans-serif;
  color: var(--dark-primary);
}
a.active {
  color: var(--light-primary) !important;
}
a.button,
button {
  font-family: "Raleway", sans-serif;
  text-decoration: none;
  font-optical-sizing: auto;
  color: white;
  font-weight: bold;
  border-radius: 6px;
  text-wrap: nowrap;
  background: var(--light-primary);
  width: 15vw;
  height: 6vh;
  text-align: center;
  align-items: CENTER;
  justify-content: CENTER;
  display: FLEX;
}
a.button:hover {
  background: var(--dark-primary);
  color: white;
  text-decoration: underline;
}
a.btn-brown,
button.btn-brown {
  width: 16vw;
  background: var(--brown-background);
}
a.button.btn-tan {
  background: var(--tan-txt);
}
a.btn-brown:hover {
  background: #6d422e;
}
a.brown-link {
  text-decoration: none;
  color: var(--brown-background);
}
a.brown-link:hover {
  text-decoration: underline;
  color: #6d422e;
}
button {
  border: none;
  border-radius: 6px !important;
}
/*Navbar*/
.logo {
  width: 30%;
  align-self: center;
}
#top-navigation {
  width: 100%;
  z-index: 99;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-menu .navigation {
  position: static;
  margin: 0;
}
.main-menu .navigation > li {
  position: relative;
  float: left;
  margin-right: 35px;
  padding: 35px 0 15px;
  transition: all ease 500ms;
  -moz-transition: all 500ms ease;
  -webkit-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
}

.main-menu .navigation li a {
  font-weight: 600;
}

.main-menu .navigation > li:last-child {
  margin-right: 0;
}

.main-menu .navigation > li:last-child a {
  color: var(--dark-primary);
}

.main-menu .navigation > li:last-child a:hover {
  color: var(--dark-primary);
  opacity: 0.8;
}

.main-menu .navigation > li:hover > a,
.main-menu .navigation > li.current > a {
  opacity: 1;
  color: var(--dark-primary);
}

.main-menu .navigation > li > a {
  text-decoration: none;
  position: relative;
  display: block;
  color: var(--dark-primary);
  text-align: center;
  line-height: 30px;
  text-transform: capitalize;
  letter-spacing: 0px;
  opacity: 1;
  overflow: hidden;
  font-weight: 400;
  font-size: 16px;
  transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -webkit-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
}
.main-menu .navigation > li > a:hover {
  text-decoration: underline;
}
.main-menu .navigation > li:hover > a::after,
.main-menu .navigation > li.current > a::after {
  width: 22px;
}

.main-menu .navigation > li.menu-item-has-children > a {
  padding-right: 16px !important;
}

.main-menu .navigation > li.menu-item-has-children > a:before {
  content: url("../images/angle-down-solid.svg");
  position: absolute;
  right: 0px;
  top: 7px;
  width: 10px;
  height: 20px;
  display: block;
  color: var(--dark-primary);
  line-height: 20px;
  font-size: 12px;
  font-weight: normal;
  text-align: center;
  z-index: 5;
  font-weight: 800;
}

.main-menu .navigation > li > ul {
  position: absolute;
  left: -30px;
  top: 70px;
  min-width: 150px;
  z-index: 100;
  opacity: 0;
  list-style: none;
  visibility: hidden;
  display: block;
  transition: all var(--transition-dur) ease;
  -moz-transition: all var(--transition-dur) ease;
  -webkit-transition: all var(--transition-dur) ease;
  -ms-transition: all var(--transition-dur) ease;
  -o-transition: all var(--transition-dur) ease;
  padding: 20px 15px;
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.main-menu .navigation > li > ul > li {
  position: relative;
  width: 100%;
  border-bottom: 1px solid #f9f9f9;
}

.main-menu .navigation > li > ul > li:last-child {
  border-bottom: none;
}

.main-menu .navigation > li > ul > li > a {
  text-decoration: none;
  position: relative;
  display: block;
  padding: 10px 18px;
  line-height: 24px;
  font-weight: 400;
  font-size: 15px;
  text-transform: capitalize;
  color: var(--dark-primary);
  transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -webkit-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
}
.main-menu .navigation > li > ul > li > a:hover {
  text-decoration: underline;
}
.main-menu .navigation > li > ul > li:hover > a {
  color: var(--dark-primary);
  padding-left: 10px;
}

.main-menu .navigation > li > ul > li.menu-item-has-children > a:after {
  content: url("../images/angle-down-solid.svg");
  position: absolute;
  right: 15px;
  top: 14px;
  width: 10px;
  height: 20px;
  display: block;
  color: var(--dark-primary);
  line-height: 20px;
  font-size: 12px;
  font-weight: normal;
  text-align: center;
  z-index: 5;
  font-weight: 800;
}

.main-menu .navigation > li > ul > li.menu-item-has-children:hover > a:after {
  color: var(--dark-primary);
}

.main-menu .navigation > li > ul > li > ul {
  position: absolute;
  left: 120%;
  top: 0%;
  min-width: 150px;
  z-index: 100;
  list-style: none;
  opacity: 0;
  display: block;
  padding: 20px 15px;
  background-color: #ffffff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  transition: all var(--transition-dur) ease;
  -moz-transition: all var(--transition-dur) ease;
  -webkit-transition: all var(--transition-dur) ease;
  -ms-transition: all var(--transition-dur) ease;
  -o-transition: all var(--transition-dur) ease;
}

.main-menu .navigation > li > ul > li > ul.from-right {
  left: auto;
  right: 0px;
}

.main-menu .navigation > li > ul > li > ul > li {
  position: relative;
  width: 100%;
  border-bottom: 1px solid #f9f9f9;
}

.main-menu .navigation > li > ul > li > ul > li:last-child {
  border-bottom: none;
}

.main-menu .navigation > li > ul > li > ul > li > a {
  text-decoration: none;
  position: relative;
  display: block;
  padding: 10px 18px;
  line-height: 24px;
  font-weight: 400;
  font-size: 15px;
  text-transform: capitalize;
  color: var(--dark-primary);
  transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -webkit-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
}
.main-menu .navigation > li > ul > li > ul > li > a:hover {
  text-decoration: underline;
}

.main-menu .navigation > li > ul > li > ul > li:hover > a {
  color: var(--dark-primary);
  padding-left: 10px;
}

.main-menu .navigation > li.menu-item-has-children > ul {
  transform: rotateZ(8deg);
  -moz-transform: rotateZ(8deg);
  -webkit-transform: rotateZ(8deg);
  -ms-transform: rotateZ(8deg);
  -o-transform: rotateZ(8deg);
}

.main-menu .navigation > li.menu-item-has-children:hover > ul {
  visibility: visible;
  opacity: 1;
  display: block;
  left: 0%;
  border-top: 0px !important;
  transform: rotateZ(0deg);
  -moz-transform: rotateZ(0deg);
  -webkit-transform: rotateZ(0deg);
  -ms-transform: rotateZ(0deg);
  -o-transform: rotateZ(0deg);
}

.main-menu .navigation li > ul > li.menu-item-has-children > ul {
  transform: rotateZ(8deg);
  -moz-transform: rotateZ(8deg);
  -webkit-transform: rotateZ(8deg);
  -ms-transform: rotateZ(8deg);
  -o-transform: rotateZ(8deg);
}

.main-menu .navigation li > ul > li.menu-item-has-children:hover > ul {
  visibility: visible;
  display: block;
  opacity: 1;
  top: 0;
  left: 100%;
  transform: rotateZ(0deg);
  -moz-transform: rotateZ(0deg);
  -webkit-transform: rotateZ(0deg);
  -ms-transform: rotateZ(0deg);
  -o-transform: rotateZ(0deg);
  transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -webkit-transition: all 500ms ease;
  -ms-transition: all 300ms ease;
  -o-transition: all 300ms ease;
}

.main-menu > ul li.menu-item-has-children .dropdown-btn {
  position: absolute;
  right: 10px;
  top: 6px;
  width: 30px;
  height: 30px;
  text-align: center;
  color: #ffffff;
  line-height: 28px;
  border: 1px solid #ffffff;
  background-size: 20px;
  cursor: pointer;
  z-index: 5;
  display: none;
}

.main-menu
  > ul
  li.menu-item-has-children
  .dropdown-btn
  i.fa-solid.fa-caret-down::before {
  font-size: 100px;
}

.navbar-open {
  position: relative;
  display: none;
  background-color: unset !important;
  padding: 0;
  border: none;
  position: absolute;
  right: 32px;
  top: 0px;
}

.navbar-open > i {
  color: var(--dark-primary);
  display: block;
  font-size: 30px;
  line-height: 40px;
  cursor: pointer;
  padding: 18px 0px;
}

.mobile-menu {
  position: fixed;
  right: 0;
  top: 0;
  width: 300px;
  max-width: 100%;
  height: 100%;
  padding-right: 30px;
  opacity: 0;
  visibility: hidden;
  z-index: 999999;
}

.mobile-menu-visible {
  overflow: hidden;
}

.mobile-menu-visible .mobile-menu {
  opacity: 1;
  visibility: visible;
}

.mobile-menu .menu-backdrop {
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: rgba(0, 0, 0, 0.9);
  transform: translateX(101%);
  -webkit-transform: translateX(101%);
  -ms-transform: translateX(101%);
  transition: all var(--transition-dur) ease;
  -moz-transition: all var(--transition-dur) ease;
  -webkit-transition: all var(--transition-dur) ease;
  -ms-transition: all var(--transition-dur) ease;
  -o-transition: all var(--transition-dur) ease;
}

.mobile-menu-visible .mobile-menu .menu-backdrop {
  opacity: 1;
  visibility: visible;
  transition: all 0.7s ease;
  -webkit-transition: all 0.7s ease;
  -moz-transition: all 0.7s ease;
  -ms-transition: all 0.7s ease;
  -o-transition: all 0.7s ease;
  transform: translateX(0%);
  -webkit-transform: translateX(0%);
  -ms-transform: translateX(0%);
}

.mobile-menu .menu-box {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  max-height: 100%;
  overflow-y: auto;
  background: #fff;
  padding: 0;
  z-index: 5;
  opacity: 0;
  visibility: hidden;
  border-radius: 0;
  transform: translateX(101%);
  -webkit-transform: translateX(101%);
  -ms-transform: translateX(101%);
}

.mobile-menu-visible .mobile-menu .menu-box {
  opacity: 1;
  visibility: visible;
  transition: all 0.7s ease;
  -webkit-transition: all 0.7s ease;
  -moz-transition: all 0.7s ease;
  -ms-transition: all 0.7s ease;
  -o-transition: all 0.7s ease;
  -webkit-transform: translateX(0%);
  -ms-transform: translateX(0%);
  transform: translateX(0%);
}

.mobile-menu .close-btn {
  position: absolute;
  right: 15px;
  top: 15px;
  line-height: 30px;
  width: 30px;
  text-align: center;
  font-size: 26px;
  color: var(--dark-primary);
  cursor: pointer;
  z-index: 10;
  -webkit-transition: all var(--transition-dur) ease;
  -moz-transition: all var(--transition-dur) ease;
  -ms-transition: all var(--transition-dur) ease;
  -o-transition: all var(--transition-dur) ease;
  transition: all var(--transition-dur) ease;
  -webkit-transform: translateY(-50px);
  -ms-transform: translateY(-50px);
  transform: translateY(-50px);
}

.mobile-menu-visible .mobile-menu .close-btn {
  -webkit-transform: translateY(0px);
  -ms-transform: translateY(0px);
  transform: translateY(0px);
}

.mobile-menu .close-btn:hover {
  opacity: 0.5;
}

.mobile-menu .navigation {
  position: relative;
  padding-top: 50px;
  display: block;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.mobile-menu .navigation li {
  position: relative;
  display: block;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.mobile-menu .navigation li > ul > li:last-child {
  border-bottom: none;
}

.mobile-menu .navigation li > ul > li:first-child {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.mobile-menu .navigation li > a {
  position: relative;
  display: block;
  line-height: 24px;
  padding: 10px 20px;
  font-size: 15px;
  color: var(--dark-primary);
  text-transform: capitalize;
  transition: all var(--transition-dur) ease;
  -webkit-transition: all var(--transition-dur) ease;
  -moz-transition: all var(--transition-dur) ease;
  -ms-transition: all var(--transition-dur) ease;
  -o-transition: all var(--transition-dur) ease;
}

.mobile-menu .navigation li.current > a,
.mobile-menu .navigation li > a:hover {
  color: var(--color-red);
}

.mobile-menu .navigation li.menu-item-has-children .dropdown-btn {
  position: absolute;
  right: 0px;
  top: 0px;
  width: 44px;
  height: 44px;
  text-align: center;
  font-size: 16px;
  line-height: 44px;
  color: var(--dark-primary);
  cursor: pointer;
  z-index: 5;
}

.mobile-menu .navigation li.menu-item-has-children .dropdown-btn:after {
  content: url("../images/angle-down-solid.svg");
  position: absolute;
  left: 0;
  top: 10px;
  width: 1px;
  height: 24px;
  border-left: 1px solid rgba(0, 0, 0, 0.1);
}

.mobile-menu .navigation li > ul,
.mobile-menu .navigation li > ul > li > ul {
  display: none;
}

@media only screen and (max-width: 768px) {
  #top-navigation .top-menu {
    display: none !important;
    visibility: hidden;
  }
  .navbar-open {
    position: relative;
    margin-bottom: 3vh;
    opacity: 1;
    visibility: visible;
    display: inline-block;
  }
}

/*-------------------------------3.) Intro Section---------------------------------------------------*/
div.left-photo-row {
  height: 73vh;
  margin-top: -70vh;
}
div.photo-col {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
img.arch-img {
  width: 50%;
  align-items: center;
  justify-content: center;
  display: flex;
  border-radius: 50ch;
  border-bottom-right-radius: 12%;
  border-bottom-left-radius: 12%;
}
div.dark-background {
  background-color: var(--dark-primary);
  height: 70vh;
}
div.light-background {
  background-color: var(--light-background);
}
div.extra-light-bg {
  background-color: var(--extra-light-bg);
}
.trr {
  border-top-right-radius: 24px;
}
.tlr {
  border-top-left-radius: 24px;
}
.photo-spacer > img {
  align-self: flex-end;
  width: 400%;
}
.left-photo-row > div.col.p-0.overflow-hidden > img {
  width: 200%;
}

div.col-1.spacer-col {
  width: 1%;
  padding: 0;
  margin: 0;
}
div.col-3.photo-spacer {
  width: 22%;
  padding: 0;
}
div.left-text-layer {
  height: 50vh;
  margin-top: -50vh;
}
div.spacer {
  position: relative;
  height: 8vw;
  border-left: 1px solid #949494;
  margin-left: 7vw;
  width: 1px;
  top: 8vh;
}
.profile-small {
  display: none;
}
.cards-row {
  display: block;
}
.hello-mobile {
  display: none;
}

/*---------------------4.) Grow With me & service info sections---------------------------------------------------*/

div.card.h-100 > img.card-img {
  border-radius: 50ch;
  border-bottom-left-radius: 17px;
  border-bottom-right-radius: 17px;
}
div.card.h-100 {
  border: none;
}
h3 {
  font-family: "Yeseva One", serif;
  color: var(--dark-primary);
}
/*---------------------------------5.) Lead from your power section------------------------------------------------*/
div.right-photo-row {
  height: 70vh;
  margin-top: -70vh;
}
.power-text-layer {
  height: 70vh;
  margin-top: -55vh !important;
}
.lotus-background {
  background: url(assets/lotus.webp);
  background-size: cover;
  background-repeat: no-repeat;
}

.vertical-wave {
  rotate: 270deg;
}
#vert-wave {
  rotate: 180deg;
}
img[src="assets/your-power.webp"] {
  position: relative;
  left: 5vw;
  top: 2vw;
}
div.text-col {
  flex: 1 0 0%;
  display: flex;
  flex-direction: column;
  align-items: end;
}
div.text-col > h1,
div.text-col > p {
  text-align: end;
}
.small-lotus-img {
  display: none;
}
/*-------------------------------6.) More Than Just Your Job Section -----------------------------------------*/
img.oval-img {
  border-radius: 20ch;
  width: 80%;
  -webkit-box-shadow: 15px 15px 0px 0px rgba(191, 215, 211, 1);
  -moz-box-shadow: 15px 15px 0px 0px rgba(191, 215, 211, 1);
  box-shadow: 15px 15px 0px 0px rgba(191, 215, 211, 1);
}
div.sect-right {
  margin: 5rem;
}
/*Infinite Journey Section*/
img.lotus-infographic {
  width: 100%;
}
/*-------------------------------7.) You Can Do this Section -----------------------------------------*/
.brown-background {
  background-color: var(--brown-background);
}
.sand-bg {
  background: url(assets/desert-stairs.webp);
  background-size: cover;
  height: 70vh;
  padding: 0;
  margin: 0;
}
img.desert-butterfly {
  width: 60%;
  align-items: center;
  justify-content: center;
  display: flex;
  border-radius: 50ch;
  border-bottom-right-radius: 12%;
  border-bottom-left-radius: 12%;
}
div.text-layer-brown {
  height: 50vh;
  margin-top: -64vh;
}
div.text-brown {
  margin-right: 7rem;
  margin-top: calc(7vh + 5px);
  display: flex;
  flex-direction: column;
  align-items: end;
}
.spacer-brown {
  position: relative;
  align-self: start;
  height: 8vw;
  border-left: 1px solid black;
  margin-left: 7vw;
  width: 1px;
}
div.col.p-0.overflow-hidden {
  height: 70vh;
}
/*-------------------------------8.) Contact Us section -----------------------------------------*/
.contact-icon {
  width: 6%;
}
.zoom-icon {
  width: 8%;
}
label.form-label {
  color: var(--tan-txt);
}
input.form-control::placeholder {
  color: var(--tan-txt);
}
input.form-control:focus,
textarea.form-control:focus {
  color: var(--brown-background);
  background-color: #fff;
  border-color: var(--tan-txt);
  outline: 0;
  box-shadow: 0 0 0 0.25rem #9f644959;
  background: transparent;
}
input.form-control,
textarea.form-control {
  border: 1px solid var(--brown-background);
  background: transparent;
}
/*-------------------------------------------------About Me page*/
/*-------------------------------------------------Intro Section--------------------------------------------*/
img.horiz-portrait {
  border-top-left-radius: 30ch;
  border-bottom-left-radius: 24px;
  width: 100%;
  margin-bottom: 5vh;
  -webkit-box-shadow: 33px 33px 0px 0px rgba(191, 215, 211, 1);
  -moz-box-shadow: 33px 33px 0px 0px rgba(191, 215, 211, 1);
  box-shadow: 33px 33px 0px 0px rgba(191, 215, 211, 1);
}
body > div > div > div.col.ms-5 > img {
  position: absolute;
  left: 0;
  width: 60%;
  margin-top: 5vh;
}
body > div.wrapper > div:nth-child(1) > div > div.col-4.p-0 > img {
  align-items: center;
  justify-content: center;
  display: flex;
  border-radius: 50ch;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.wrapper {
  position: relative;
  top: -12vh;
}
.butterfly-background {
  background: url(../images/blue-butterfly.webp);
  background-size: cover;
  height: 70vh;
  padding: 0;
  margin: 0;
}
img.circular-img {
  border-radius: 50ch;
  -webkit-box-shadow: -30px 30px 0px 0px rgba(191, 215, 211, 1);
  -moz-box-shadow: -30px 30px 0px 0px rgba(191, 215, 211, 1);
  box-shadow: -30px 30px 0px 0px rgba(191, 215, 211, 1);
  width: 80%;
}
img.bullet-point {
  width: 10px;
  margin-right: 10px;
  align-self: center;
}
.mesa-sand {
  background: url(../images/desert-sand.webp);
  background-size: cover;
  height: 60vh;
  padding: 0;
  margin: 0;
}
div.text-layer-brown-about {
  height: 50vh;
  margin-top: -50vh;
}
.right-text-layer {
  height: 50vh;
  margin-top: -50vh !important;
}
div.row-concepts > div.col,
div.oty-p {
  margin-top: 5rem;
  margin-bottom: 5rem;
}
div.quote-txt-block {
  margin: 5rem;
}
div.opposite-img {
  display: flex;
  flex-direction: column;
  justify-content: end;
  display: none;
}
/*------------------------------------------------.) Footer---------------------------------------------------*/
/*Keeping footer down at the bottom of the page */
#grid-container > footer {
  padding: 1.2rem;
}

#grid-container > footer {
  background-color: white;
}
/*------------------------------------------------.) Media Queries---------------------------------------------------*/
@media screen and (min-width: 1200px) {
  img.lotus-infographic {
    width: 70%;
  }
  img.wave-about {
    display: none !important;
  }
}
@media screen and (max-width: 1154px) {
  .power-text-layer {
    margin-top: -62vh !important;
  }

  div.text-brown {
    margin-top: 3vh;
  }
}
@media screen and (max-width: 1044px) {
  div.col-flex {
    width: 41.66666667% !important;
  }
  .cards-row {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
  }
}

@media screen and (max-width: 991px) {
  img.logo {
    width: 25%;
    margin-bottom: auto;
  }
  #navbarNav > div > a.nav-item.nav-link {
    padding-left: 3vw;
    padding-right: 3vw;
  }
  a.button {
    width: 17vw;
  }
  .right-spacer {
    display: none !important;
  }
  div.sect-right {
    margin: 2rem;
  }
}
@media screen and (max-width: 988px) {
  div.text-brown {
    margin-right: 5rem;
  }
}
@media screen and (max-width: 912px) {
  div.col-flex-brown {
    width: 37%;
  }
  div.spacer-brown {
    display: none;
  }
  .circular-img-left-row {
    flex-direction: column;
  }
}
@media screen and (max-width: 897px) {
  img.arch-img {
    display: none;
  }
  div.left-text-layer {
    margin-top: -66vh;
    margin-bottom: 20vh;
  }
  .photo-spacer > img {
    display: none;
  }
  .spacer-col {
    display: none;
  }
  div.col-6.my-5.pe-0,
  img.wave-about {
    display: none;
  }
  div.col-4.dark-background.trr {
    background: var(--light-background);
  }
  .trr {
    border-top-right-radius: 0;
    border-top-left-radius: 24px;
    border-bottom-left-radius: 24px;
  }
  .tlr {
    border-top-left-radius: 0;
    border-top-right-radius: 24px;
    border-bottom-right-radius: 24px;
  }
  div.solution-sect {
    border-top-left-radius: 0;
  }
  .profile-small {
    display: flex;
  }
  .arch-img-small {
    width: 80%;
    align-items: center;
    justify-content: center;
    display: flex;
    border-radius: 50ch;
    border-bottom-right-radius: 12%;
    border-bottom-left-radius: 12%;
  }
  a.button {
    width: 25vw;
  }
  .right-background {
    background: rgb(246, 236, 223);
    background: linear-gradient(
      180deg,
      rgba(246, 236, 223, 1) 0%,
      rgba(255, 255, 255, 1) 50%
    );
  }
  div.text-col {
    flex: auto;
    width: 30%;
  }
  div.mesa-sand {
    background: linear-gradient(#9f6449cb, #9f6449cb),
      url(../images/desert-sand.webp);
    background-size: cover;
  }
  div.col-flex-brown {
    display: none;
  }
  div.row-concepts {
    display: flex;
    flex-direction: column;
  }
  div.row-concepts > div.col {
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
  }
  div.oty-p {
    margin-top: 2.5rem;
    margin-bottom: 0;
  }

  div.quote-txt-block {
    margin: 5rem 1rem;
  }
}
@media screen and (max-width: 823px) {
  .contact-section {
    display: flex;
    flex-direction: column;
  }
  .contact-section > div.col.my-6.d-flex.flex-column.align-items-end {
    margin-top: -2rem !important;
    margin-bottom: 4rem !important;
  }
  div.sect-right {
    margin-left: 0;
    margin-right: 0;
  }
  div.col-4.sand-bg {
    background: var(--brown-background) !important;
  }
  div.col-flex-brown {
    width: 0%;
  }
}
@media screen and (max-width: 767px) {
  .circular-img {
    box-shadow: -15px 15px 0px 0px rgba(191, 215, 211, 1);
  }
  div.opposite-img {
    display: none;
  }
  div.solution-sect {
    border-top-left-radius: 24px;
  }
}
@media screen and (max-width: 675px) {
  div.col-flex {
    width: 100% !important;
  }
  .left-photo-row {
    display: none !important;
  }
  .cards-row {
    width: 75%;
  }
  .left-text-layer {
    background-color: var(--light-background);
    display: flex;
    flex-direction: column;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    height: auto !important;
    border-radius: 24px;
  }
  .hello {
    display: none;
  }
  .hello-mobile {
    display: block;
  }
  .left-background-blue {
    display: none !important;
  }

  .spacer {
    display: none;
  }
  .arch-img-small {
    width: 30%;
  }
  div.row.w-100.left-text-layer > div.col,
  .col-flex {
    padding-left: 3vw;
    padding-right: 3vw;
    padding-top: 5vh;
    padding-bottom: 5vh;
  }
  .col-flex {
    padding-top: 5vh;
  }
  header,
  nav.navbar.navbar-expand-lg {
    margin-right: 0;
    margin-left: 0;
  }
  .mx-6 {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
}
@media screen and (max-width: 627px) {
  div.text-brown {
    margin-right: 2rem;
  }
  div.col.lotus-background.tlr,
  div.butterfly-background {
    background: var(--dark-primary);
  }
  .right-text-layer {
    height: 50vh;
    margin-top: -55vh !important;
  }
  div.text-col {
    flex: auto;
    width: 100%;
    align-items: start;
    position: relative;
    top: 5vh;
  }
  div.text-col > h1,
  div.text-col > p {
    text-align: start;
  }
  .small-lotus-img {
    display: flex;
    border-radius: 50ch;
    box-shadow: -15px 15px 0px 0px rgba(191, 215, 211, 1);
    width: 30%;
    height: 70%;
    align-self: end;
  }
  .cards-row {
    width: 100%;
  }
  a.button {
    width: 35vw;
  }
  .sect-right {
    display: flex;
    flex-direction: column-reverse;
  }
  .oval-img {
    margin-top: 3vh;
    margin-bottom: 5vh;
    width: 100% !important;
  }
}
